<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="style.css">
    <title>DashBoard</title>

</head>
<body>

<header class="header1">
      <div class="logo-div">
        <img src="SheranWala Group Logo.png" alt="">
        <h3 class="h1">Sheranwala Group</h3>
      </div>
      <div class="profile-div">
        <div class="profile-icon">
            <i class="icon fa-solid fa-user"></i>
        </div>
        <div class="dropdown">
           <p>Shafat Ahmad</p>
           <div class="dropdown">
            <i class="fa-solid fa-angle-down" id="dropdownIcon" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownIcon">
              <li><button class="dropdown-item" type="button"><i class="fa-solid fa-user-pen"></i>Edit</button></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" type="button">⬅️  Logout</button></li>
            </ul>
          </div>
        </div>
      </div>
</header>


<!-- Section-1 -->

<div class="container-fluid content-sec">
    <div class="row main-row">
        <div class="col-lg-3 left-column col-desktop">
        <div class="col-md-12 left-child">
           
            <div class="col-sm-9 counters">
                <div class="card-content">
               <div class="amount">
                <span>$</span><p>110</p>
               </div>
                  <h3>Total Amount</h3>
                </div>
              </div>

              <div class="col-sm-9 counters">
                <div class="card-content">
               <div class="amount">
                <p>🔄</p><span>$</span><p>110</p>
               </div>
                  <h3>Total Recovery</h3>
                </div>
              </div>

              <div class="col-sm-9 counters">
                <div class="card-content">
               <div class="amount">
                <p>✅</p><span>$</span><p>110</p>
               </div>
                  <h3>Recovered Amount </h3>
                  <p>(present day)</p>
                </div>
              </div>

              <div class="col-sm-9 counters">
                <div class="card-content">
               <div class="amount">
                <p>📅💰</p><span>$</span><p>110</p>
               </div>
                  <h3>Recovered Amount </h3>
                  <p>(present day)</p>
                </div>
              </div>

              <div class="col-sm-9 counters">
                <div class="card-content">
               <div class="amount">
                <p>📅💰</p><span>$</span><p>110</p>
               </div>
                  <h3>Recovered Amount </h3>
                  <p>(present day)</p>
                </div>
              </div>

            </div>
        </div>

        
        <div class="col-lg-9 right-column">
            <div class="tables-cont">

                <ul class="nav nav-tabs btn-container" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="simple-tab-0" data-bs-toggle="tab" href="#simple-tabpanel-0" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Bookings</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#simple-tabpanel-1" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Remainder</a>
                    </li>
                  </ul>       

                  
                  

<!-- udpate this container-fluid -->
               <div class="container-fluid tables tab-content" id="tab-content">
                    <div class="tab-pane active" id="simple-tabpanel-0" role="tabpanel" aria-labelledby="simple-tab-0">

                        <!-- Update Here -->
                        <div class="pagination-container has-text-centered">
                            <div class="registration-box d-flex align-items-center desktop-screen">
                              <div class="box">
                                <div class="input-wrapper me-3">
                                  <select id="searchCriteria" class="form-control" [(ngModel)]="selectedCriteria"
                                    (change)="onCriteriaChange()">
                                    <option value="" disabled>Select Search Criteria</option>
                                    <option value="name">Name</option>
                                    <option value="vcNo">VC No</option>
                                    <option value="cnic">CNIC</option>
                                    <option value="contact">Contact No</option>
                                    <option value="plot">Plot No</option>
                                    <!-- Add other options as needed -->
                                  </select>
                                  <label for="searchCriteria" class="control-label">Search Criteria</label>
                                </div>
                              </div>
                              <!-- Search Input Field based on selected Criteria (Placed beside the dropdown) -->
                              <div class="box">
                                <div *ngIf="selectedCriteria" class="input-wrapper">
                                  <input type="text" id="input" class="form-control me-3" [(ngModel)]="searchValue"
                                    placeholder="Enter {{ selectedLabel }}" />
                                  <label for="input" class="control-label">{{ selectedLabel }}</label>
                                </div>
                              </div>
                              <!-- Submit Button with Search Icon -->
                              <div class="input-wrapper">
                                <button class="btn btn-primary d-flex align-items-center" (click)="performSearch()">
                                  <i class="bi bi-search me-2"></i> Search
                                </button>
                              </div>
                            </div>

                            <div class="registration-box d-flex align-items-center mobile-screen">
                                <div class="input-wrapper">
                                    <button class="btn btn-primary d-flex align-items-center" (click)="performSearch()">
                                      <i class="bi bi-search me-2"></i> Search
                                    </button>
                                  </div>   
                            </div>

                            <!-- Pagination -->
                            <div class="d-flex align-items-center">
                              <div class="totalrecords">
                                Showing Records: 10
                              </div>
                              <div>
                                <button class="pagination-button" (click)="onPageChange(page - 1)"
                                  [disabled]="page === 1">&laquo;</button>
                                <input class="pagination-button active" [(ngModel)]="page" (keyup.enter)="onPageChange(page)"
                                  type="number" min="1" />
                                <button class="pagination-button" (click)="onPageChange(page + 1)">&raquo;</button>
                              </div>
                            </div>
                          </div>



                            
                            <table class="table-container">
                    
                                <thead class="table-head">
                                    <tr>
                                        <th>Claim ID</th>
                                        <th>Service Date</th>
                                        <th>Submitted Date</th>
                                        <th>Highest $ Value Service</th>
                                        <th>Flagged Reason</th>
                                        <th>Total Sale</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                               
                                <tbody class="table-body">
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                </tbody>
                            </table>

                    </div>
            
                    <div class="tab-pane" id="simple-tabpanel-1" role="tabpanel" aria-labelledby="simple-tab-1">

                        <div class="pagination-container has-text-centered">
                            <div class="registration-box d-flex align-items-center desktop-screen">
                              <div class="box">
                                <div class="input-wrapper me-3">
                                  <select id="searchCriteria" class="form-control" [(ngModel)]="selectedCriteria"
                                    (change)="onCriteriaChange()">
                                    <option value="" disabled>Select Search Criteria</option>
                                    <option value="name">Name</option>
                                    <option value="vcNo">VC No</option>
                                    <option value="cnic">CNIC</option>
                                    <option value="contact">Contact No</option>
                                    <option value="plot">Plot No</option>
                                    <!-- Add other options as needed -->
                                  </select>
                                  <label for="searchCriteria" class="control-label">Search Criteria</label>
                                </div>
                              </div>
                              <!-- Search Input Field based on selected Criteria (Placed beside the dropdown) -->
                              <div class="box">
                                <div *ngIf="selectedCriteria" class="input-wrapper">
                                  <input type="text" id="input" class="form-control me-3" [(ngModel)]="searchValue"
                                    placeholder="Enter {{ selectedLabel }}" />
                                  <label for="input" class="control-label">{{ selectedLabel }}</label>
                                </div>
                              </div>
                              <!-- Submit Button with Search Icon -->
                              <div class="input-wrapper">
                                <button class="btn btn-primary d-flex align-items-center" (click)="performSearch()">
                                  <i class="bi bi-search me-2"></i> Search
                                </button>
                              </div>
                            </div>

                            <div class="registration-box d-flex align-items-center mobile-screen">
                                <div class="input-wrapper">
                                    <button class="btn btn-primary d-flex align-items-center" (click)="performSearch()">
                                      <i class="bi bi-search me-2"></i> Search
                                    </button>
                                  </div>   
                            </div>

                            <!-- Pagination -->
                            <div class="d-flex align-items-center">
                              <div class="totalrecords">
                                Showing Records: 10
                              </div>
                              <div>
                                <button class="pagination-button" (click)="onPageChange(page - 1)"
                                  [disabled]="page === 1">&laquo;</button>
                                <input class="pagination-button active" [(ngModel)]="page" (keyup.enter)="onPageChange(page)"
                                  type="number" min="1" />
                                <button class="pagination-button" (click)="onPageChange(page + 1)">&raquo;</button>
                              </div>
                            </div>
                          </div>
                   
                            <table class="table-container">
                    
                                <thead class="table-head">
                                    <tr>
                                        <th>Claim ID</th>
                                        <th>Service Date</th>
                                        <th>Submitted Date</th>
                                        <th>Highest $ Value Service</th>
                                        <th>Flagged Reason</th>
                                        <th>Total Sale</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                               
                                <tbody class="table-body">
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                    <tr class="table-row" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                                        <td>123456789087651</td>
                                        <td>12/10/2023</td>
                                        <td>12/24/2023</td>
                                        <td>99214-office or other</td>
                                        <td>Anommalous interventions performed</td>
                                        <td>$2,910.30</td>
                                        <td>$2,910.30</td>

                                    </tr>
                                </tbody>
                            </table>

                    </div>
                </div>

    
    </div>

</div>

    </div>
</div>

<!-- Canvas -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel"> <div class="registration-header">
        <h2>Add Remainder</h2>
        <span class="divider"></span>
    </div></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="registration-container">
            <div class="registration-body">
                <form action="">
                    <div class="registration-box">
                        <div class="box">
                            <div class="input-wrapper">
                              <input type="text" id="input" class="form-control" placeholder="Name">
                              <label for="input" class="control-label">Name</label>
                            </div>
                          </div>
                          <div class="box">
                            <div class="input-wrapper">
                              <input type="text" id="input" class="form-control" placeholder="Last Name">
                              <label for="input" class="control-label">Last Name</label>
                            </div>
                          </div>
                          <div class="box">
                            <div class="input-wrapper">
                              <input type="text" id="input" class="form-control" placeholder="Claim ID">
                              <label for="input" class="control-label">Claim ID</label>
                            </div>
                          </div>
                         
                          <p class="d-inline-flex gap-1">
                            <button class="btn view-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <a href="#"><i class="fa-solid fa-angle-down" id="dropdownIcon" data-bs-toggle="dropdown" aria-expanded="false"></i></a> View More about Provider
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card-body">
                           <table class="canvas-table">
                            <tbody class="canvas-table-body">
                                <tr>
                                    <td>Total $ charged flagged 
                                        (Past 12 months)
                                    </td>
                                    <td>$</td>
                                </tr>
                                <tr>
                                    <td>Top HCPCS code flagged by charged $
                                        (Past 12 months)
                                    </td>
                                    <td>$</td>
                                </tr>
                            </tbody>

                           </table>
                            </div>
                          </div>
                          <div class="box">
                            <div class="input-wrapper">
                              <input type="email" id="input" class="form-control" placeholder="Email">
                              <label for="input" class="control-label">Email</label>
                            </div>
                          </div>  
                    </div>
                </form>
            </div>
        </div>
         <button class="btn-register">Submit</button>
    </div>
   
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
